@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'),
      url('/fonts/Roboto-Light.woff2') format('woff2'),
      url('/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('/fonts/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('/fonts/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'),
      url('/fonts/Roboto-Black.woff2') format('woff2'),
      url('/fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Regular'), local('Roboto-Regular'),
      url('/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'),
      url('/fonts/Roboto-Thin.woff2') format('woff2'),
      url('/fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

/* @font-face {
  font-family: 'Roboto';
  src: url('/fonts/RobotoCondensed-Regular.eot');
  src: url('/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/RobotoCondensed-Regular.woff') format('woff'),
  url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  } */