* {
  border-style: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.promo {
  height: 800px;
  background: url('../img/header_bg.jpg') center center/cover no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}

.title {
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.simple .title_big {
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin-top: 23px;
  padding: 0 13px;

}

.promo .promo_text span {
  color: #f9bf3b;
  font-weight: 700;
}

.promo .promo_btn, .gift .gift_button {
  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  display: block;
  margin: 0 auto;
  margin-top: 73px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 73px;
}

.more .more_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding-top: 85px;
}

.waiting .waiting_header, .finish .finish_header {
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  
}

.finish .finish_header { 
  color: #ffffff;
}

.waiting .waiting_divider, .finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;

}

.waiting .waiting_subheader {
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
}

/* .waiting .waiting_wrapper {
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  display: inline-block;
  vertical-align: top;
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item:nth-child(2) {
  margin: 0 49px;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  color: #4a4a4a;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
} */
.waiting .waiting_wrapper {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}
.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.optimization {
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  margin-left: 391px;
  color: #299cbd;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.optimization .optimization_text {
  margin-left: 391px;
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  text-align: justify;
  width: 750px;
  margin-top: 25px;
}

.optimization .optimization_text span {
  font-weight: 700;
}

.optimization .optimization_img {
  position: absolute;
  left: -240px;
  top: -75px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 0 0;
  background: url('../img/result.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 204px;
}

.finish .finish_wrapper .finish_round {
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.finish .finish_wrapper .finish_descr {
  margin-top: 25px;
  text-align: center;
  color: #efefef;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

.gift {
  min-height: 628px;
  background-color: #efefef;
}

.gift .gift_img {
  padding-top: 87px;
  text-align: center;
}

.gift .gift_text {
  margin-top: 42px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}



.vebinar {
  padding: 89px 0 64px 0;
}

.vebinar .vebinar_icon {
text-align: center;
}

.vebinar .vebinar_header {
  margin-top: 37px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
}

.vebinar .vebinar_text {
  margin-top: 30px;
  text-align: center;
  color: #299cbd;
  font-size: 36px;
  font-weight: 900;
  line-height: 12px;
  text-transform: uppercase;
}

.vebinar .vebinar_text_finish {
  margin-top: 25px;
  text-align: center;
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px;
}

footer {
  background-color: #1a1a1a;
  padding: 61px 0 69px 0;
  color: #888888;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

footer .footer_link {
  padding-right: 10px;
  color: #888888;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-decoration: underline;
}

footer .footer_link:nth-child(1) {
  border-right:1px solid #888888;
}

footer .footer_link:nth-child(2) {
  border-right:none;
  padding-left: 5px;
  padding-right: -10px;
}
